
div{
    border: 2px solid red;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    position: absolute;
    top: 0px;
    right: 10px;
}

.display-class {
    display: none;
}


@keyframes rotateMe {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}
.remove-loader{
    display: block;
}

.alert{
    margin-top: 2em;
    height: auto;
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}
.example {
    border: 25px solid #E8C48F;
    padding: 20px;
    margin: 0;
    top: 0;
    border: 2px solid red;
    flex-basis: 40vw;
    flex-grow: 0;
}

.carousel{
  margin: auto;
  height: 30vh;
  width: 60vw;
  gap: 5vw;
  overflow: hidden;
  
}
.carousel-inner{
  display: flex;
  border: 2px solid black;
  height: 90%;
  width: 300vw;
  transition: transform 20s;
  transition-timing-function: linear;
}